.open-cart-modal {
  z-index: 10000;
  transition: .5s;
  transform: translateX(0) !important;
}

@keyframes CartIconRotateAnimation {
  0% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(390deg);
  }
  80% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0);
  }
}

.cart-icon-rotate {
  animation-name: CartIconRotateAnimation;
  animation-duration: .6s;
  transform: rotate(0);
}

@keyframes cartModalBounceWhenAdd {
  0% {
    transform: translateX(calc(100% - 50px))
  }
  25% {
    transform: translateX(calc(100% - 131px))
  }
  50% {
    transform: translateX(calc(100% - 67px))
  }
  75% {
    transform: translateX(calc(100% - 80px))
  }
  100% {
    transform: translateX(calc(100% - 50px))
  }
}

.cart-modal-bounce {
  animation-name: cartModalBounceWhenAdd;
  animation-duration: 1s;
  transform: translateX(calc(100% - 50px))
}

@keyframes customAnimationFadeToUp {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.custom-animation-fade-to-up {
  animation: customAnimationFadeToUp 1s;
}

@keyframes customAnimationFadeToDown {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.custom-animation-fade-to-down {
  animation: customAnimationFadeToDown 1s;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

@keyframes customAnimationCrayfish {
  0% {
    transform: translateX(-800px);
  }
  50% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}

.intro1_background_parallax_crayfish {
  animation: customAnimationCrayfish 4s;
}

@keyframes customAnimationRoll {
  0% {
    right: -550px;
  }
  100% {
    right: -50px;
  }
}

.intro1_background_parallax_roll {
  animation: customAnimationRoll 2.5s;
}
