@media screen and (max-width: 1440px) {
  .header_logo {
    min-width: 13% !important;
  }

  .header_logo_link {
    width: 48% !important;
  }

  .header_nav {
    min-width: 87% !important;
  }

  .header_nav_delivery_part {
    width: 30% !important;
  }

  .page_description {
    font-size: 19px !important;
  }

  .header_nav_navigation {
    min-width: 80% !important;
  }

  .header_nav_navigation_menu_link {
    font-size: 20px !important;
  }

  .header_nav_navigation_menu_pages_link {
    font-size: 13px !important;
  }

  .favorite_product_image {
    height: 160px !important;
  }

  .favorite_product_texts_header {
    font-size: 28px !important;
  }

  .header_nav_delivery_part .v-text-field .v-select__selection--comma {
    font-size: 15px !important;
  }

  .header_nav_delivery_part .v-text-field i {
    font-size: 16px !important;
  }

  .intro1_header {
    margin-left: 49vw !important;
    font-size: 135px !important;
  }

  .intro1_subheader {
    margin-left: 49vw !important;
    font-size: 39px !important;
  }

  .intro1_information1 {
    font-size: 24px !important;
    margin-left: 63vw !important;
  }

  .intro1_information2 {
    font-size: 24px !important;
    margin-left: 63vw !important;
  }

  .component-top-header {
    font-size: 65px !important;
  }

  .card_product_image {
    height: 150px !important;
  }

  .products_show_product .v-card__title {
    font-size: 19px !important;
    height: 60px !important;
  }

  .catalogSection_articles {
    height: 550px !important;
  }

  #catalogSection .content-height {
    height: 275px !important;
  }

  #catalogSection .catalogSection_alcohol {
    top: 275px !important;
  }

  #catalogSection .catalogSection_rolls {
    top: 275px !important;
  }

  #catalogSection .catalogSection_drinks {
    top: 275px !important;
  }

  #catalogSection .catalogSection_cider {
    top: 275px !important;
  }

  .catalogSection_articles_hover_header {
    font-size: 30px !important;
  }

  .catalogSection_articles_hover_text {
    font-size: 14px !important;
  }

  .ourAdvantages-section {
    height: 780px !important;
  }

  .our-advantages-single_text_header {
    font-size: 32px !important;
  }

  .our-advantages-single_text_description {
    font-size: 16px !important;
  }

  #products {
    margin-top: 20vh !important;
  }

  .page-header {
    height: 225px !important;
  }

  .page-header p {
    padding-top: 52px !important;
    font-size: 70px !important;
  }

  .products_filter {
    width: 18% !important;
  }

  .products_show_product .font-brigada {
    font-size: 13px !important;
  }

  .products_filter .v-text-field .v-select__selection--comma, .v-text-field input, .v-label {
    font-size: 17px !important;
  }

  #product-show {
    margin-top: 20vh !important;
  }

  .product-show_product_name {
    font-size: 40px !important;
  }

  .product-show_product_price {
    font-size: 21px !important;
  }

  .product-show_product_description {
    font-size: 29px !important;
  }

  .product-show_product_description .white-opacity-07 {
    font-size: 17px !important;
  }

  .product-show_product_price .white-opacity-07 {
    font-size: 19px !important;
  }

  .product-show_tastier-together_header {
    font-size: 50px !important;
  }

  #reviews {
    margin-top: 20vh !important;
  }

  .reviews_write_review_section_text {
    font-size: 48px !important;
  }

  .reviews_all_testimonials_card_customer-name {
    font-size: 38px !important;
  }

  .reviews_all_testimonials_card_review {
    font-size: 15px !important;
  }

  #cart {
    margin-top: 20vh !important;
  }

  .container-padding {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }

  .cart_product_image {
    height: 170px !important;
  }

  .cart_product_texts_header {
    font-size: 30px !important;
  }

  #contact-us {
    margin-top: 20vh !important;
  }

  .contact-us_description {
    font-size: 19px !important;
  }

  .contact-us_contacts_data_subheader {
    font-size: 30px !important;
  }

  .contact-us_contacts_text a {
    font-size: 17px !important;
  }

  #contact-us .gmap_canvas {
    height: 430px !important;
  }

  #contact-us .mapouter {
    height: 430px !important;
  }
}

@media screen and (max-width: 1264px) {
  .header_logo {
    min-width: 13% !important;
  }

  .header_logo_link {
    width: 55% !important;
  }

  .header_nav {
    min-width: 87% !important;
  }

  .header_nav_delivery_part {
    width: 30% !important;
  }

  .header_nav_navigation {
    min-width: 85% !important;
  }

  .header_nav_navigation_menu_link {
    font-size: 19px !important;
  }

  .header_nav_navigation_menu_pages_link {
    font-size: 12px !important;
  }

  .favorites-modal .modaltor__panel {
    width: 68% !important;
  }

  .favorite_product_image {
    height: 130px !important;
  }

  .favorite_product_texts_header {
    font-size: 28px !important;
  }

  .header_nav_delivery_part .v-text-field .v-select__selection--comma {
    font-size: 14px !important;
  }

  .header_nav_delivery_part .v-text-field i {
    font-size: 15px !important;
  }

  .intro1_header {
    margin-left: 46vw !important;
    font-size: 125px !important;
  }

  .intro1_subheader {
    margin-left: 46vw !important;
    font-size: 36px !important;
  }

  .intro1_information_icon img {
    width: 32px !important;
  }

  .intro1_information1 {
    font-size: 22px !important;
    margin-left: 63vw !important;
  }

  .intro1_information2 {
    font-size: 22px !important;
    margin-left: 63vw !important;
  }

  #cartModal {
    width: 70% !important;
  }

  .component-top-header {
    font-size: 65px !important;
  }

  .card_product_image {
    height: 130px !important;
  }

  .products_show_product .v-card__title {
    font-size: 19px !important;
    height: 60px !important;
  }

  .catalogSection_articles {
    height: 520px !important;
  }

  #catalogSection .content-height {
    height: 260px !important;
  }

  #catalogSection .catalogSection_alcohol {
    top: 260px !important;
  }

  #catalogSection .catalogSection_rolls {
    top: 260px !important;
  }

  #catalogSection .catalogSection_drinks {
    top: 260px !important;
  }

  #catalogSection .catalogSection_cider {
    top: 260px !important;
  }

  .catalogSection_articles_hover_header {
    font-size: 30px !important;
  }

  .catalogSection_articles_hover_text {
    font-size: 14px !important;
  }

  .ourAdvantages-section {
    height: 700px !important;
  }

  .our-advantages-single_text_header {
    font-size: 32px !important;
  }

  .our-advantages-single_text_description {
    font-size: 16px !important;
  }

  #products {
    margin-top: 22vh !important;
  }

  .page-header {
    height: 220px !important;
  }

  .page-header p {
    padding-top: 52px !important;
    font-size: 70px !important;
  }

  .products_show {
    width: 75% !important;
  }

  .products_filter {
    width: 23% !important;
  }

  .products_show_product .font-brigada {
    font-size: 13px !important;
  }

  .products_filter .v-text-field .v-select__selection--comma, .v-text-field input, .v-label {
    font-size: 17px !important;
  }

  .products_filter {
    width: 22% !important;
  }

  .products_show_product .font-brigada {
    font-size: 13px !important;
  }

  .products_filter .v-text-field .v-select__selection--comma, .v-text-field input, .v-label {
    font-size: 17px !important;
  }

  #product-show {
    margin-top: 22vh !important;
  }

  .product-show_product_name {
    font-size: 38px !important;
  }

  .product-show_product_price {
    font-size: 20px !important;
  }

  .product-show_product_description {
    font-size: 28px !important;
  }

  .product-show_product_description .white-opacity-07 {
    font-size: 16px !important;
  }

  .product-show_product_price .white-opacity-07 {
    font-size: 18px !important;
  }

  .product-show_tastier-together_header {
    font-size: 48px !important;
  }

  .product-show_product_actions {
    flex-direction: column !important;;
  }

  #reviews {
    margin-top: 22vh !important;
  }

  .reviews_write_review_section_text {
    font-size: 48px !important;
  }

  .reviews_all_testimonials_card_customer-name {
    font-size: 38px !important;
  }

  .reviews_all_testimonials_card_review {
    font-size: 15px !important;
  }

  #cart {
    margin-top: 22vh !important;
  }

  .container-padding {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }

  .cart_product_image {
    height: 170px !important;
  }

  .cart_product_texts_header {
    font-size: 27px !important;
  }

  .cart_product_texts_description {
    font-size: 15px !important;
  }

  .cart_order-section_register-order_your-order-header {
    font-size: 35px !important;
  }

  .cart_order-section_register-order_your-order-costs {
    font-size: 18px !important;
  }

  .cart_order-section_register-order_your-order-subheader {
    font-size: 19px !important;
  }

  .cart_order-section_register-order_your-order_payment-methods {
    font-size: 16px !important;
  }

  #contact-us {
    margin-top: 20vh !important;
  }

  .contact-us_description {
    font-size: 19px !important;
  }

  .contact-us_contacts_data_subheader {
    font-size: 30px !important;
  }

  .contact-us_contacts_text a {
    font-size: 17px !important;
  }

  #contact-us .gmap_canvas {
    height: 400px !important;
  }

  #contact-us .mapouter {
    height: 400px !important;
  }

  footer .gmap_canvas {
    height: 250px !important;
  }

  footer .mapouter {
    height: 250px !important;
  }

  .footer_section_nav_navigation_menu_link {
    font-size: 17px !important;
  }

  .footer_section_subscribe_description {
    font-size: 14px !important;
  }

  .page_description {
    font-size: 17px !important;
  }
}

@media screen and (max-width: 1024px) {
  .header_logo {
    min-width: 13% !important;
  }

  .header_logo_link {
    width: 63% !important;
  }

  .header_nav {
    min-width: 87% !important;
  }

  .header_nav_delivery_part {
    width: 34% !important;
  }

  .header_nav_navigation {
    min-width: 85% !important;
  }

  .header_nav_navigation_menu_link {
    font-size: 17px !important;
  }

  .header_nav_navigation_menu_pages_link {
    font-size: 11px !important;
  }

  .favorites-modal .modaltor__panel {
    width: 75% !important;
  }

  .favorite_product_image {
    height: 122px !important;
  }

  .favorite_product_texts_header {
    font-size: 23px !important;
  }

  .favorite_product_texts_description_price {
    font-size: 18px !important;
  }

  .header_nav_delivery_part .v-text-field .v-select__selection--comma {
    font-size: 13px !important;
  }

  .header_nav_delivery_part .v-text-field i {
    font-size: 14px !important;
  }

  .intro1_header {
    margin-left: 46vw !important;
    font-size: 110px !important;
    padding-top: 18vh !important;
  }

  .intro1_subheader {
    margin-left: 46vw !important;
    font-size: 29px !important;
  }

  .intro1_information1 {
    font-size: 19px !important;
    margin-left: 63vw !important;
  }

  .intro1_information2 {
    font-size: 19px !important;
    margin-left: 63vw !important;
  }

  #cartModal {
    width: 80% !important;
  }

  .component-top-header {
    font-size: 60px !important;
  }

  .page_description {
    font-size: 15px !important;
  }

  .card_product_image {
    height: 130px !important;
  }

  .products_show_product .v-card__title {
    font-size: 19px !important;
    height: 60px !important;
  }

  .catalogSection_articles {
    height: 470px !important;
  }

  #catalogSection .content-height {
    height: 235px !important;
  }

  #catalogSection .catalogSection_alcohol {
    top: 235px !important;
  }

  #catalogSection .catalogSection_rolls {
    top: 235px !important;
  }

  #catalogSection .catalogSection_drinks {
    top: 235px !important;
  }

  #catalogSection .catalogSection_cider {
    top: 235px !important;
  }

  .catalogSection_articles_hover_header {
    font-size: 30px !important;
  }

  .catalogSection_articles_hover_text {
    font-size: 14px !important;
  }

  .ourAdvantages-section {
    height: 700px !important;
  }

  .our-advantages-single_text_header {
    font-size: 32px !important;
  }

  .our-advantages-single_text_description {
    font-size: 16px !important;
  }

  #products {
    margin-top: 22vh !important;
  }

  .page-header {
    height: 200px !important;
  }

  .page-header p {
    padding-top: 48px !important;
    font-size: 65px !important;
  }

  .products_show {
    width: 75% !important;
  }

  .products_filter {
    width: 23% !important;
  }

  .products_show_product .font-brigada {
    font-size: 13px !important;
  }

  .products_filter .v-text-field .v-select__selection--comma, .v-text-field input, .v-label {
    font-size: 17px !important;
  }

  #reviews {
    margin-top: 22vh !important;
  }

  .reviews_write_review_section_text {
    font-size: 48px !important;
  }

  .reviews_all_testimonials_card_customer-name {
    font-size: 38px !important;
  }

  .reviews_all_testimonials_card_review {
    font-size: 15px !important;
  }

  #cart {
    margin-top: 22vh !important;
  }

  .container-padding {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }

  .cart_product_image {
    height: 170px !important;
  }

  .cart_product_texts_header {
    font-size: 27px !important;
  }

  .cart_product_texts_description {
    font-size: 15px !important;
  }

  .cart_order-section_register-order_your-order-header {
    font-size: 35px !important;
  }

  .cart_order-section_register-order_your-order-costs {
    font-size: 18px !important;
  }

  .cart_order-section_register-order_your-order-subheader {
    font-size: 19px !important;
  }

  .cart_order-section_register-order_your-order_payment-methods {
    font-size: 16px !important;
  }

  #contact-us {
    margin-top: 20vh !important;
  }

  .contact-us_description {
    font-size: 19px !important;
  }

  .contact-us_contacts_data_subheader {
    font-size: 30px !important;
  }

  .contact-us_contacts_text a {
    font-size: 17px !important;
  }

  #contact-us .gmap_canvas {
    height: 350px !important;
  }

  #contact-us .mapouter {
    height: 350px !important;
  }

  footer .gmap_canvas {
    height: 250px !important;
  }

  footer .mapouter {
    height: 250px !important;
  }

  .footer_section_nav_navigation_menu_link {
    font-size: 17px !important;
  }

  .footer_section_subscribe_description {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 964px) {
  #mobileHeader {
    display: block !important;
  }

  #header {
    display: none !important;
  }

  #cartModal {
    width: 70% !important;
  }

  .cartModal_products_section {
    text-align: center !important;
  }

  .cartModal_products_section {
    margin-bottom: 3vh !important;;
  }

  .card_product_image {
    height: 150px !important;
  }

  .mobileHeader_phone-and-language .v-text-field .v-select__selection--comma {
    font-size: 15px !important;
  }

  .mobileHeader_phone-and-language .v-text-field i {
    font-size: 16px !important;
  }

  .intro1_header {
    margin-left: 20vw !important;
    padding-top: 12vh !important;
    font-size: 120px !important;
  }

  .intro1_subheader {
    margin-left: 20vw !important;
    padding-top: 3vh !important;
    font-size: 39px !important;
  }

  .intro1_information1 {
    padding-top: 3vh !important;
    font-size: 24px !important;
    margin-left: 45vw !important;
  }

  .intro1_information2 {
    font-size: 24px !important;
    margin-left: 45vw !important;
  }

  .component_and_page_header_section {
    flex-direction: column !important;
  }

  .catalogSection_articles_hover {
    display: none !important;
  }

  #products {
    margin-top: 94px !important;
  }

  .products_show {
    width: 100% !important;
  }

  #product-show {
    margin-top: 94px !important;
  }

  .product-show_product_section {
    text-align: center !important;
  }

  #reviews {
    margin-top: 94px !important;
  }

  #cart {
    margin-top: 94px !important;
  }

  #mobileFilterModal {
    display: block !important;
    width: 60% !important;
    transform: translateX(calc(100% - 50px))
  }

  .mobileFilterModal_button {
    top: 25%;
    width: 50px;
    height: 50px;
  }

  .mobileFilterModal_fields {
    width: calc(100% - 50px);
  }
}

@media screen and (max-width: 600px) {
  #cartModal {
    width: calc(100% + 50px) !important;
  }

  #mobileFilterModal {
    width: calc(100% + 50px) !important;
  }

  .mobileHeader_actions-favorites img {
    width: 25px !important;
    height: 25px !important;
  }

  .mobileHeader_logo_link_img {
    width: 55px !important;
  }

  .mobileHeader_phone {
    width: 100% !important;
  }

  .mobileHeader-language {
    width: 100% !important;
  }

  .mobileHeader_phone-and-language .v-text-field .v-select__selection--comma {
    font-size: 12px !important;
  }

  .mobileHeader_phone-and-language {
    width: 54% !important;
    flex-direction: column !important;
  }

  .mobileHeader_actions, .mobileHeader_logo {
    width: 22% !important;
  }

  .mobileHeader_actions-favorites .v-badge__badge {
    font-size: 10px !important;
    padding: 4px 6px;
    width: 18px !important;
    height: 18px !important;
  }

  .mobileHeader_actions-favorites .v-text-field i {
    font-size: 13px !important;
  }

  .mobileHeader_actions-favorites {
    margin-right: 0 !important;
  }

  .favorites-modal .modaltor__panel {
    width: 97% !important;
  }

  #cashbackProductsSection, #catalogSection, #ourAdvantages {
    padding-top: 1vh !important;
  }

  .component-top-header {
    font-size: 49px !important;
  }

  .intro1_header {
    margin-left: 6vw !important;
    padding-top: 25vh !important;
    font-size: 80px !important;
  }

  .intro1_subheader {
    margin-left: 6vw !important;
    padding-top: 3vh !important;
    font-size: 28px !important;
  }

  .intro1_information1 {
    padding-top: 3vh !important;
    font-size: 20px !important;
    margin-left: 30vw !important;
  }

  .intro1_information2 {
    font-size: 20px !important;
    margin-left: 30vw !important;
  }

  .page_description {
    font-size: 14px !important;
  }

  .swiper-container .swiper-slide {
    padding-right: 5% !important;
    padding-left: 5% !important;
    max-width: 90% !important;
  }

  .catalogSection_articles {
    height: 400px !important;
  }

  #catalogSection .content-height {
    height: 200px !important;
  }

  #catalogSection .catalogSection_alcohol {
    top: 200px !important;
  }

  #catalogSection .catalogSection_rolls {
    top: 200px !important;
  }

  #catalogSection .catalogSection_drinks {
    top: 200px !important;
  }

  #catalogSection .catalogSection_cider {
    top: 200px !important;
  }

  .our-advantages-single_icon {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .ourAdvantages-section {
    height: auto !important;
  }

  .our-advantages-single_text_header {
    font-size: 26px !important;
  }

  .our-advantages-single_text_description {
    font-size: 13px !important;
  }

  .footer_section_information_data {
    align-items: center !important;
  }

  .footer_section_nav_navigation_menu {
    display: block !important;
    column-count: 2 !important;
  }

  .footer_section_menu_pages_section {
    display: none !important;
  }

  #products {
    margin-top: 88px !important;
  }

  .page-header {
    height: 180px !important;
  }

  .page-header p {
    padding-top: 40px !important;
    font-size: 55px !important;
  }

  .products_and_filter {
    padding-right: 4vw !important;
    padding-left: 4vw !important;
  }

  .footer_section_information img {
    width: 25px !important;
  }

  .footer_section_information .contact-us_contacts_text a {
    font-size: 11px !important;
  }

  .footer_section_map {
    margin-top: 13px !important;
  }

  .footer_section_nav_navigation_menu_link {
    font-size: 13px !important;
    text-transform: uppercase !important;
  }

  .footer_socialite .v-image {
    max-width: 25px !important;
  }

  footer .gmap_canvas {
    height: 180px !important;
  }

  footer .mapouter {
    height: 180px !important;
  }

  .footer_copyright {
    font-size: 14px !important;
  }

  #contact-us {
    margin-top: 88px !important;
  }

  #reviews {
    margin-top: 88px !important;
  }

  .reviews_write_review_section_text {
    font-size: 33px !important;
  }

  .reviews_all_testimonials_card_customer-name {
    font-size: 23px !important;
  }

  .reviews_all_testimonials_card_review {
    font-size: 14px !important;
  }

  .reviews_write_review .red-pattern-background {
    padding-right: 6vw !important;
    padding-left: 6vw !important;
  }

  .reviews_all_testimonials_card_customer-avatar {
    padding-right: 0 !important;
  }

  .reviews_all_testimonials_card_customer-text {
    padding-left: 0 !important;
  }

  .contact-us_contacts_data_subheader hr {
    width: 50px !important;
  }

  .contact-us_contacts_data img {
    width: 30px !important;
  }

  .contact-us_contacts_data_subheader {
    font-size: 18px !important;
  }

  .contact-us_contacts_text a {
    font-size: 13px !important;
  }

  .map-section .component-top-header {
    font-size: 37px !important;
  }

  .footer_section_map {
    display: none !important;
  }

  #cart {
    margin-top: 88px !important;
  }

  .cart_order-section_single {
    text-align: center !important;
    margin-bottom: 3vh !important;
  }

  .cart_product_remove {
    right: 20px !important;
  }

  .cart_product_image {
    height: 130px !important;
  }

  .cart_product_texts_header {
    font-size: 25px !important;
  }

  .cart_product_texts_description {
    font-size: 13px !important;
  }

  .cartModal_products{
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}
