@media screen and (max-width: 1024px) {
  .header_nav_delivery_part {
    width: 48% !important;
  }

  .header_logo {
    min-width: 22% !important;
  }

  .header_nav {
    min-width: 78% !important;
  }
}

@media screen and (max-width: 480px) {

}
