@media screen and (max-width: 1024px) {
  .header_nav_delivery_part {
    width: 48% !important;
  }

  .header_logo {
    min-width: 22% !important;
  }

  .header_nav {
    min-width: 78% !important;
  }

  .products_show .col-md-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media screen and (min-width: 992px) {
  .products_show .col-md-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media screen and (max-width: 576px) {

}
