body {
  overflow-x: hidden !important;
}

.v-application {
  /*background: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini-dark.png") repeat !important;*/
  /*background: url("https://www.toptal.com/designers/subtlepatterns/patterns/country-quilt-dark.png") repeat !important;*/
  /*background: url("https://www.toptal.com/designers/subtlepatterns/patterns/dark_wood.png") repeat !important;*/
  /*background: url("https://poetsforamerica.com/wp-content/uploads/2016/07/black-pattern-background-tumblr-dark-backgrounds-3357.jpg") repeat !important;*/
  background: url("~/assets/raknroll-back-pattern2.jpg") repeat !important;
  /*background: url("https://img1.goodfon.com/wallpaper/nbig/b/25/leather-black-dark-pattern.jpg") repeat !important;*/
  font-family: 'Cormorant Garamond', serif !important;
  font-weight: Bold !important;
}

.v-application .error--text {
  color: #B71C1C !important;
  caret-color: #B71C1C !important;
}

.v-application .container {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 5px !important;
  background-color: #f5f5f5 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #202020 !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #f5f5f5 !important;
}

.v-main {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.v-card__text {
  padding: 0 !important;
}

.v-card__title, .v-card__actions {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.list-style-none {
  list-style: none !important;
}

.width-25 {
  width: 25% !important;
}

.width-50 {
  width: 50% !important;
}

.width-100 {
  width: 100% !important;
}

.height-100 {
  height: 100% !important;
}

.products_page_products_show .col-lg-2 {
  flex: 0 0 20%;
  max-width: 20%;
}

.products_show_product {
  background: transparent !important;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.products_show_products_black_background {
  background: url("~/assets/raknroll-back-pattern1.jpg") repeat !important;
}

.swiper-slider_product {
  background: transparent !important;
}

.swiper-button-prev, .swiper-button-next {
  --swiper-theme-color: #385779;
}

.swiper-pagination-bullet {
  background: #a0a0a0;
}

.swiper-pagination-bullet-active {
  background-color: #B71C1C !important;
}

.red-pattern-background {
  background: url("~/assets/raknroll-back-pattern1.png") repeat !important;
}

.main-blured {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.v-pagination button {
  border-radius: 0 !important;
}

.white-pattern-background {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png") repeat !important;
}

.white-pattern-background .show_counter_quantity {
  border-bottom: 1px dashed #424242;
}

.white-pattern-background .close-button-block:before, .white-pattern-background .close-button-block:after {
  background: black;
}

.favorites-modal .close-button-block:before, .favorites-modal .close-button-block:after {
  background: black;
}

.red-pattern-background .component-top-header-hr {
  border: 2px solid #000000;
  background-color: #000000;
  box-shadow: 0 0 5px 0 #0a0a0a;
}

.component-top-header-hr {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0 0 6px 0 #ffffff;
}

.red-pattern-background .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.red-pattern-background .error--text {
  color: #ffffff !important;
  caret-color: #ffffff !important;
}

.page-header .v-image__image {
  background-position: bottom;
  background-attachment: fixed;
  box-shadow: inset 0 0 7px 3px #0a0a0a;
}

.background-fixed .v-image__image {
  background-position: bottom;
  background-attachment: fixed;
}

.transition-05 {
  transition: .5s;
}

.opacity-05 {
  opacity: 0.5;
  transition: .5s;
}

.opacity-1-transition {
  opacity: 1 !important;
  transition: .5s;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

::selection {
  background: #B71C1C;
  color: #fff;
}

.margin-top-4vh {
  margin-top: 4vh !important;
}

.margin-top-6vh {
  margin-top: 6vh !important;
}

.padding-top-6vh {
  padding-top: 6vh !important;
}

.margin-bottom-10vh {
  margin-bottom: 10vh;
}

.cart_product_counter_row_quantity .v-text-field input {
  text-align: center;
  padding-top: 0 !important;
}

.inset-shadow-10 {
  box-shadow: inset 0 0 10px 0 #0a0a0a;
}

.white-opacity-07 {
  color: rgba(205, 205, 205, 0.7) !important;
}

.cart_product_counter_row_quantity .v-input {
  padding-top: 0 !important;
}

.show_counter_quantity {
  border-bottom: 1px dashed white;
}

.modaltor__overlay {
  background: rgba(14, 14, 14, 0.6) !important;
}

.modaltor__panel {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png") repeat !important;
  color: #1f1f1f;
}

#cartModal {
  position: fixed;
  right: 0;
  z-index: 10000;
}

#cartModal .cartModal_button {
  display: flex;
  align-items: center;
  position: fixed;
  margin-top: 15%;
  transition: .5s !important;
  border: none;
}

.shoppingCartFromRightButtonBody_button {
  border: none !important;
}

#cartModal .cartModal_products {
  position: fixed;
  right: 0;
  height: 100vh;
  overflow-Y: scroll;
  overflow-X: hidden;
}

.answer-modal-text {
  line-height: normal;
}

.map-section_map-content {
  opacity: 0.8;
}

#cartModal .cartModal_products::-webkit-scrollbar-thumb {
  background-color: #B71C1C !important;
}

.modaltor__panel::-webkit-scrollbar-thumb {
  background-color: #B71C1C !important;
}

a {
  text-decoration: none;
}

.position-relative {
  position: relative;
}

.white-brush-background {
  background: url("~/assets/white-background-brush-for-header.png") no-repeat;
  background-size: 100% 100%;
}

.black-brush-background {
  background: url("~/assets/black-background-brush-for-header.png") no-repeat;
  background-size: 100% 100%;
}

.margin-left-10vw {
  margin-left: 10vw;
}
