@charset "utf-8";
.header_nav_delivery_part .v-text-field .v-select__selection--comma {
  font-size: 16px !important
}

.sale-icon-div {
  position: absolute;
  top: -80px;
  transform: rotate(-20deg)
}

.products_sale-icon-div {
  top: -60px;
  transform: rotate(-10deg)
}

.sale-icon-div-image {
  width: 150px
}

.sale-icon-div-text {
  position: absolute;
  font-size: 26px;
  top: 46px;
  right: 15px
}

.header_nav_delivery_part .v-text-field i {
  font-size: 17px !important
}

.pages_top_with_animation hr {
  width: 200px;
  border: .04vw solid rgba(205, 205, 205, .7);
  background-color: rgba(205, 205, 205, .7)
}

.products_show_product .v-card__title {
  font-size: 22px;
  height: 70px
}

.products_show_product .v-card__actions {
  height: 55px
}

.products_show_catalog_filter_for_mobile {
  display: none !important
}

.products_show_product .font-brigada {
  font-size: 14px
}

.red-pattern-background .component-top-header-hr {
  width: 150px
}

.red-pattern-background .error--text {
  color: #fff !important;
  caret-color: #fff !important;
  text-shadow: 0 0 2px #fff
}

.black-text-shadow {
  text-shadow: 0 0 2px #000
}

.white-text-shadow {
  text-shadow: 0 0 4px #fff
}

.component-top-header-hr {
  width: 150px
}

.component-top-header {
  font-size: 80px
}

#mobileHeader {
  display: none
}

.display-quantity-select {
  max-width: 80px
}

.inset-shadow-from-top .v-image__image {
  box-shadow: inset 0 14px 11px -6px #0a0a0a
}

.inset-shadow-from-top {
  box-shadow: inset 0 14px 11px -6px #0a0a0a
}

.inset-shadow-from-bottom .v-image__image {
  box-shadow: inset 0 -14px 11px -6px #0a0a0a
}

.inset-shadow-from-bottom {
  box-shadow: inset 0 -14px 11px -6px #0a0a0a
}

.page_description {
  font-size: 21px
}

.inset-shadow-from-left {
  box-shadow: inset 9px 0 9px -7px #0a0a0a
}

.v-messages {
  font-size: 14px !important
}

.products_filter .v-text-field .v-select__selection--comma, .v-label, .v-text-field input {
  font-size: 19px !important
}

.cart_product_counter_row_quantity .v-text-field input {
  font-size: 20px !important
}

#cartModal {
  width: 50%;
  transform: translateX(calc(100% - 50px))
}

#cartModal .cartModal_button {
  top: 25%;
  width: 50px;
  height: 50px
}

#cartModal .cartModal_products {
  width: calc(100% - 50px)
}

#mobileFilterModal {
  display: none !important
}

.mobileFilterModal_button {
  top: 25%;
  width: 50px;
  height: 50px
}

.mobileFilterModal_fields {
  width: calc(100% - 50px)
}

.scale-1-2 {
  transform: scale(1.2);
  transition: .5s
}

.offset-cart-left-2 {
  margin-left: -2vw !important
}

.card_product_image {
  height: 190px
}

.container-padding {
  padding-left: 4.2vw !important;
  padding-right: 4.2vw !important
}
