@charset "utf-8";

.slide-fade-enter-active {
  transition: all .4s ease;
}

.slide-fade-leave-active {
  transition: all .4s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.v-application {
  /*background: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini-dark.png") repeat !important;*/
  /*background: url("https://www.toptal.com/designers/subtlepatterns/patterns/country-quilt-dark.png") repeat !important;*/
  /*background: url("https://www.toptal.com/designers/subtlepatterns/patterns/dark_wood.png") repeat !important;*/
  /*background: url("https://poetsforamerica.com/wp-content/uploads/2016/07/black-pattern-background-tumblr-dark-backgrounds-3357.jpg") repeat !important;*/
  background: url("~/assets/raknroll-back-pattern.jpg") repeat !important;
  /*background: url("https://img1.goodfon.com/wallpaper/nbig/b/25/leather-black-dark-pattern.jpg") repeat !important;*/
  font-family: 'Cormorant Garamond', serif !important;
  font-weight: Bold;
}

.v-application .error--text {
  color: #B71C1C !important;
  caret-color: #B71C1C !important;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 5px !important;
  background-color: #f5f5f5 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #202020 !important;
}

body {
  overflow-x: hidden !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #f5f5f5 !important;
}

.v-main {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.padding-for-offset-cart-modal {
  padding-right: 60px !important;
}

.font-caveat {
  font-family: 'Caveat', cursive !important;
}

.font-brigada {
  font-family: 'Brygada 1918', serif !important;
}

.v-card__text {
  padding: 0 !important;
}

.v-card__title, .v-card__actions {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.header_nav_delivery_part .v-text-field .v-select__selection--comma {
  font-size: 0.8vw !important;
}

.header_nav_delivery_part .v-text-field i {
  font-size: 0.98vw !important;
}

.list-style-none {
  list-style: none !important;
}

.v-application .container {
  max-width: 100%;
}

.products_show_product .v-card__title {
  font-size: 1.2vw;
}

.products_show_product .font-brigada {
  font-size: 0.7vw;
}

.menu-background-after-scroll {
  background-color: rgba(14, 14, 14, 0.8);
  transition: .5s !important;
}

.swiper-slider_product {
  background: transparent !important;
}

.main-blured {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.overflow-hidden {
  overflow: hidden !important;
}

#scrollToTopButton {
  z-index: 9999999999999999999999999999999999999;
  position: fixed;
  bottom: 0.8vw;
  right: 1vw;
}

#scrollToTopButton .v-responsive__content {
  width: 100% !important;
}

.width-20 {
  width: 20% !important;
}

.width-25 {
  width: 25% !important;
}

.width-33 {
  width: 33.333333333% !important;
}

.width-50 {
  width: 50% !important;
}

.width-100 {
  width: 100% !important;
}

.width-90 {
  width: 90% !important;
}

.v-pagination button {
  border-radius: 0 !important;
}

.display-quantity-select {
  max-width: 4vw;
}

.page-container-padding-bottom {
  padding-bottom: 3vw !important;
}

.margin-bottom-from-header {
  margin-bottom: 4.5vw;
}

.page-header {
  height: 275px;
  background-image: url("https://as1.ftcdn.net/v2/jpg/04/47/68/60/1000_F_447686074_WM42OykJXm9VMY3sbGxVWDwFCtvdGLQd.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  box-shadow: inset 0 0 7px 3px rgb(0 0 0);
}

.swiper-slider_product .v-image__image {
  background-size: contain !important;
}

.products_show_product {
  background: transparent !important;
}

.products_show_product .v-image__image {
  background-size: contain !important;
}

.swiper-button-prev, .swiper-button-next {
  --swiper-theme-color: #385779;
}

.swiper-pagination-bullet {
  background: #a0a0a0;
}

.swiper-pagination-bullet-active {
  background-color: #B71C1C !important;
}

.white-pattern-background .swiper-pagination-bullet {
  background: #424242;
}

.opacity-1 {
  opacity: 1 !important;
}

.opacity-is-50 {
  opacity: 0.5;
  transition: .5s;
}

.opacity-is-8 {
  opacity: 0.8;
  transition: .5s;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.container-padding {
  padding-left: 4.2vw !important;
  padding-right: 4.2vw !important;
}

.v-messages {
  font-size: 14px !important;
}

.products_filter .v-text-field .v-select__selection--comma {
  font-size: 1vw !important;
}

.v-text-field input {
  font-size: 1vw;
}

.v-label {
  font-size: 0.9vw !important;
}

::selection {
  background: #B71C1C;
  color: #fff;
}

.white-pattern-background {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png") !important;
  background-repeat: repeat !important;
}

.margin-top-from-header {
  margin-top: 3vw !important;
}

.inset-shadow-10 {
  box-shadow: inset 0 0 10px 0 rgb(0 0 0);
}

.box-shadow-10 {
  box-shadow: 0 0 10px 0 rgb(0 0 0);
}

.white-opacity-07 {
  color: rgba(205, 205, 205, 0.7) !important;
}

.opacity-07 {
  opacity: 0.7 !important;
}

.cart_product_counter_row_quantity .v-text-field input {
  font-size: 1vw !important;
  text-align: center;
  padding-top: 0 !important;
}

.cart_product_counter_row_quantity .v-input {
  padding-top: 0 !important;
}

.show_counter_quantity {
  border-bottom: 1px dashed white;
}

.white-pattern-background {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png") !important;
  background-repeat: repeat;
}

.modaltor__overlay {
  background: rgba(14, 14, 14, 0.6) !important;
}

.modaltor__panel {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png") !important;
  background-repeat: repeat;
  width: 50% !important;
  color: #1f1f1f;
}

#cartModal {
  width: 711px;
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 99999999999999999999999999999999999999999999;
}

#cartModal .cartModal_button {
  display: flex;
  align-items: center;
  background: url("~/assets/shop-cart-background.png");
  position: fixed;
  top: 25%;
  width: 60px;
  height: 195px;
  transition: .5s !important;
  border: none;
}

.shoppingCartFromRightButtonBody_button {
  border: none !important;
}

#cartModal .cartModal_products {
  position: fixed;
  right: 0;
  width: 651px;
  height: 100%;
  overflow-Y: scroll;
  overflow-X: hidden;
}

#cartModal .cartModal_products::-webkit-scrollbar-thumb {
  background-color: #B71C1C !important;
}

#cartModal .cartModal_button img {
  width: 30px;
  height: auto;
}

#cartModal .cartModal_button {
  border: none;
}

.cart-modal-closed {
  transition: .5s;
  transform: translateX(651px)
}

.answer-modal .modaltor__panel {
  width: 30% !important;
}

.answer-modal-text {
  font-size: 32px;
  line-height: normal;
}

.login-register-modal .modaltor__panel {
  width: 25% !important;
}

.login-register-modal .v-stepper {
  background-color: transparent !important;
}

.login-register-modal .v-sheet {
  box-shadow: none !important;
}

.login-register-modal_go-to-register {
  font-size: 0.85vw;
}

.login-register-modal_go-to-register_button {
  font-size: 0.90vw;
  font-weight: bold;
}

.map-section_map-content {
  opacity: 0.8;
}

.offset-cart-40 {
  margin-top: -40px;
}

.offset-cart-2 {
  margin-top: -2vw !important;
}

.offset-cart-left-2 {
  margin-left: -2vw !important;
}

.modaltor__content {
  padding: 1vw;
}

.modaltor__panel::-webkit-scrollbar-thumb {
  background-color: #B71C1C !important;
}

.Vue-Toastification__container {
  z-index: 99999999999999999999999999 !important;
}

/*Custom Button*/
.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  text-decoration: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(183, 28, 28, 0.64);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 1.3vw;
  color: white !important;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #B71C1C;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

.product-show_product_link-to-brand .cta:hover:before {
  background: #FFA003;
}

.product-show_product_link-to-brand .cta:before {
  background: rgba(255, 160, 3, 0.64);
}
