@charset "utf-8";

.header_nav_delivery_part .v-text-field .v-select__selection--comma {
  font-size: 16px !important;
}

.header_nav_delivery_part .v-text-field i {
  font-size: 17px !important;
}

.products_show_product .v-card__title {
  font-size: 22px;
  height: 70px;
}

.products_show_product .v-card__actions {
  height: 55px;
}

.products_show_catalog_filter_for_mobile {
  display: none !important;
}

.products_show_product .font-brigada {
  font-size: 14px;
}

.red-pattern-background .component-top-header-hr {
  width: 150px;
}

.red-pattern-background .error--text {
  color: #ffffff !important;
  caret-color: #ffffff !important;
  text-shadow: 0 0 2px #ffffff;
}

.black-text-shadow {
  text-shadow: 0 0 2px #000000;
}

.white-text-shadow {
  text-shadow: 0 0 4px #ffffff;
}

.component-top-header-hr {
  width: 150px;
}

.component-top-header {
  font-size: 80px;
}

#mobileHeader {
  display: none;
}

.display-quantity-select {
  max-width: 80px;
}

.page-header {
  height: 275px;
}

.page-header p {
  font-family: 'Caveat', cursive;
  font-size: 80px;
  padding-top: 55px;
  text-shadow: 0 -4px 0 #1e1e1e;
}

.inset-shadow-from-top .v-image__image {
  box-shadow: inset 0 14px 11px -6px #0a0a0a;
}

.inset-shadow-from-top {
  box-shadow: inset 0 14px 11px -6px #0a0a0a;
}

.inset-shadow-from-bottom .v-image__image {
  box-shadow: inset 0 -14px 11px -6px #0a0a0a;
}

.inset-shadow-from-bottom {
  box-shadow: inset 0 -14px 11px -6px #0a0a0a;
}

.page_description {
  font-size: 21px;
}

.inset-shadow-from-left {
  box-shadow: inset 9px 0 9px -7px #0a0a0a;
}

.v-messages {
  font-size: 14px !important;
}

.products_filter .v-text-field .v-select__selection--comma, .v-text-field input, .v-label {
  font-size: 19px !important;
}

.cart_product_counter_row_quantity .v-text-field input {
  font-size: 20px !important;
}

.modaltor__panel {
  width: 50% !important;
}

#cartModal {
  width: 50%;
  transform: translateX(calc(100% - 50px))
}

#cartModal .cartModal_button {
  top: 25%;
  width: 50px;
  height: 50px;
}

#cartModal .cartModal_products {
  width: calc(100% - 50px);
}

#mobileFilterModal {
  display: none !important;
}

.mobileFilterModal_button {
  top: 25%;
  width: 50px;
  height: 50px;
}

.mobileFilterModal_fields {
  width: calc(100% - 50px);
}

.answer-modal .modaltor__panel {
  width: 30% !important;
}

.scale-1-2 {
  transform: scale(1.2);
  transition: .5s;
}

.answer-modal-text {
  font-size: 32px;
}

.offset-cart-left-2 {
  margin-left: -2vw !important;
}

.modaltor__content {
  padding: 20px;
}

.card_product_image {
  height: 190px;
}

.container-padding {
  padding-left: 4.2vw !important;
  padding-right: 4.2vw !important;
}
